.card{
    width: auto;
    margin: 2rem 1.9rem;
    border-radius: 6px;
    background: var(--Elements);
    text-decoration: none;
    color:var(--text);
    box-shadow: 0px 0px 6px -4px var(--input);
}

.card .container-img{
    border-radius: 6px 6px 0 0;
}

.card .container-img img{
    width:100%;
    height:auto;
    border-radius: 6px 6px 0 0;
}

.card .detail{
    padding: 1.3rem 1.6rem;
}

.card .detail h2{
    margin-bottom: 1rem;
    letter-spacing: 1px;
    font-size: 1rem;
}

.card .detail h3{
    font-size: .8rem;
    font-weight: 600;
    margin-bottom: .4rem;
}
