main form {
  height: 3rem;
  position: relative;
  border-radius: 5px;
  box-shadow: 2px 4px 9px -8px var(--input);
  color:var(--text)
}

main form input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  padding: 1.8rem 4.8rem;
  letter-spacing: .3px;
  border-radius: 6px;
  background-color: var(--Elements);
  color: var(--text);
  box-shadow: 2px 4px 9px -8px var(--input);
}

main form input::placeholder{
  color:var(--color-input)
}

main form label {
  position: absolute;
  top: calc(47% - 0.35rem);
  left: 2rem;
}

main form label svg {
  width: 1.4rem;
  height: auto;
  fill: var(--color-input);
}
main .container-select{
  margin-top: 2rem;
  font-weight: 600;
  font-size: .9rem;
  width: 12.5rem;
}
main .container-select .select{
  width: 100%;
  height: 3.5rem;
  position: relative;
  border-radius: 6px;
  box-shadow: 2px 4px 9px -8px var(--input);
  color: var(--text);
  background-color: var(--Elements);
  cursor: pointer;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3rem;
}
main .container-select .select svg{
  width:1rem;
  fill: var(--text);
}
main .container-select .list-option{
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  border: none;
  padding: 0.6rem 0;
  border-radius: 6px;
  box-shadow: 2px 4px 9px -8px var(--input);
  color: var(--text);
  background-color: var(--Elements);
  position: absolute;
  width: 12.5rem;
}
main .container-select .oculto{
  display:none;
}
main .container-select .list-option .option{
  padding: 0.3rem 1.3rem;
  cursor: pointer;
}

main .container-select .list-option .option:hover{
  background-color: var(--input);
}

main .container-card{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  grid-gap: 1em;
  margin-top: 1em;
}

@media (min-width:700px){
  main form {
    width: 30rem;
    display: inline-block;
  }
  main > .col-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 2rem;
  }
  main .container-select{
    margin-top:0;
  }
}